#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

body {
  font-family: "Inter", sans-serif;
}

a img {
  width: auto;
  height: 55px;
  margin: auto;
  display: block;
  width: auto;
  padding-left: 10px;
}

#me img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

h1 {
  color: black;
  text-align: center;
  padding-top: 0.5rem;
}

h1:hover {
  color: #556b2f;
}

h3 {
  color: black;
  text-align: center;
}

p {
  text-align: center;
}

h5 {
  text-align: center;
}

.content p {
  margin: 2% 25%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portcontent {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

.portcontent h5 {
  font-size: 3rem;
  padding-top: 5rem;
}

.card-body p,
h5 {
  color: white;
}

.card-body button {
  margin: 1rem auto;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
  /* font-size: 25px; */
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #556b2f;
}

a:active {
  text-decoration: none;
  color: #556b2f;
}

.footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

#footer img {
  width: auto;
  height: 25px;
  padding-bottom: 10px;
}

#footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

#footer a {
  font-size: 15px;
}

#footer a:hover {
  text-decoration: underline;
  color: #556b2f;
}

#footer a:active {
  text-decoration: none;
  color: #556b2f;
}

#footer svg {
  margin-bottom: 15px;
}

.navbar-nav {
  margin-left: auto;
}
