body {
  font-family: "Inter", sans-serif;
}

a img {
  width: auto;
  height: 55px;
  margin: auto;
  display: block;
  width: auto;
  padding-left: 10px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 30px;
}

/* h1 {
  color: black;
  text-align: center;
}

h1:hover {
  color: #556b2f;
} */

h1 {
  color: white;
  /* float: right; */
  text-align: center;
  padding-right: 2em;
  padding-top: 4.5em;
  padding-bottom: 0.5em;
}

.headerImg p {
  color: white;
  font-weight: 200;
  padding-right: 2em;
}

h3 {
  color: black;
  text-align: center;
}

p {
  text-align: center;
}

.headerImg {
  background-color: #71abe3;
  height: 500px;
}

#wanderImg {
  height: 500px;
  padding-left: 4em;
  float: left;
}

.caseStudy {
  padding-top: 2em;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
  /* font-size: 25px; */
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #556b2f;
}

a:active {
  text-decoration: none;
  color: #556b2f;
}

.footer {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

#footer img {
  width: auto;
  height: 25px;
  padding-bottom: 10px;
}

#footer a {
  font-size: 15px;
}

#footer a:hover {
  text-decoration: underline;
  color: #556b2f;
}

#footer a:active {
  text-decoration: none;
  color: #556b2f;
}

#footer svg {
  margin-bottom: 15px;
}

.navbar-nav {
  margin-left: auto;
}
