#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

body {
  font-family: "Inter", sans-serif;
}

a img {
  width: auto;
  height: 55px;
  margin: auto;
  display: block;
  width: auto;
  padding-left: 10px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 30px;
}

/* h1 {
  color: black;
  text-align: center;
}

h1:hover {
  color: #556b2f;
} */

h1 {
  color: white;
  /* float: right; */

  padding-right: 2em;
  padding-top: 4.5em;
  padding-bottom: 0.5em;
}

.headerImg h1 {
  text-align: center;
}

.headerImg p {
  color: white;
  font-weight: 200;
  padding-right: 2em;
  text-align: center;
}

h3 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #71abe3;
}

h5 {
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

h6 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #71abe3;
}

.headerImg {
  background-color: #71abe3;
  height: 500px;
}

#wanderImg {
  height: 500px;
  padding-left: 4em;
  float: left;
}

#wanderWire {
  width: 85%;
  padding-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#appMap {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#uiImg {
  display: flex;
}

#uiImg {
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

#qrcode {
  width: 20%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.caseStudy {
  padding-top: 2.5em;
  margin-left: 20%;
  margin-right: 20%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
  /* font-size: 25px; */
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #556b2f;
}

a:active {
  text-decoration: none;
  color: #556b2f;
}

.footer {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

#footer img {
  width: auto;
  height: 25px;
  padding-bottom: 10px;
}

#footer a {
  font-size: 15px;
}

#footer a:hover {
  text-decoration: underline;
  color: #556b2f;
}

#footer a:active {
  text-decoration: none;
  color: #556b2f;
}

#footer svg {
  margin-bottom: 15px;
}

.navbar-nav {
  margin-left: auto;
}

#stickyNotes {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: "Caveat", cursive;
}

#stickyNotes h2 {
  font-weight: bold;
  font-size: 2rem;
}

#stickyNotes p {
  font-size: 1rem;
  font-weight: normal;
}

#stickyNotes ul,
#stickyNotes li {
  list-style: none;
}
#stickyNotes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#stickyNotes ul li a {
  text-decoration: none;
  color: #000;
  background: #cce6ff;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.3);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

#stickyNotes ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #ffc;
}
#stickyNotes ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #cce6ff;
}
#stickyNotes ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
  background: #ffc;
}

#stickyNotes ul li a:hover,
#stickyNotes ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

#stickyNotes ul li {
  margin: 1em;
}
